<PARAMETERS>
	<VIEW>
		<HORIZONTAL_FOV>60.0f</HORIZONTAL_FOV>
		<FULL_SCREEN>false</FULL_SCREEN>
		<DRAW_TEXT>false</DRAW_TEXT>
		<DRAW_TERRAIN>true</DRAW_TERRAIN>
		<PAGING>true</PAGING>
		<USE_SOCKET>true</USE_SOCKET>
		<SERVER>false</SERVER>
		<START_ALTITUDE>3500.0</START_ALTITUDE>
		<TEXTURE_PATH>F:/1zklcode/FusionProject/udpdll/udpdll/Sweden_terrain/rTexture_LOD</TEXTURE_PATH>
		<TEXTURE_NAME>yigg</TEXTURE_NAME>
		<ELEVATION_PATH>F:/1zklcode/FusionProject/udpdll/udpdll/Sweden_terrain/FloatElevationEdge/yigg</ELEVATION_PATH>
		<YAW_OFFSET>0.0f</YAW_OFFSET>
		<PITCH_OFFSET>0.0f</PITCH_OFFSET>
		<ROLL_OFFSET>0.0f</ROLL_OFFSET>
		<AUTOSTART_FLIGHT>true</AUTOSTART_FLIGHT>
		<SIMPLE_SERVER>false</SIMPLE_SERVER>
		<GSYNC>true</GSYNC>
		<SHOW_DEGREES>false</SHOW_DEGREES>
		<EDGE_BLEND_TEXTURE>false</EDGE_BLEND_TEXTURE>
		<SOFT_WARP_CLIENT_ID>CI0000-0000-0000-0055</SOFT_WARP_CLIENT_ID>
	</VIEW>
</PARAMETERS>